name: Qodana
on:
  workflow_dispatch:
  pull_request:
  push:


jobs:
  qodana:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.1'
          coverage: xdebug
          tools: composer:v2

      - name: Validate composer.json and composer.lock
        run: composer validate

      - name: Install dependencies
        run: composer install --prefer-dist --no-progress --no-suggest

      - name: Run tests
        run: ./vendor/bin/phpunit --coverage-clover ./.qodana/code-coverage/coverage.xml
        env:
          XDEBUG_MODE: coverage

      - name: Archive coverage data
        uses: actions/upload-artifact@v2
        with:
          name: php-coverage-data
          path: PHP/phpunit/.qodana/code-coverage

      - uses: docker/login-action@v2
        with:
          registry: registry.jetbrains.team
          username: ${{ secrets.SPACE_REGISTRY_USERNAME }}
          password: ${{ secrets.SPACE_REGISTRY_PASSWORD }}
      - name: 'Qodana Scan'
        uses: JetBrains/qodana-action@main
